@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.container {
  max-width: 1248px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  background: #fff;
}
header .header__navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__navbar .header_logo {
  display: flex;
  align-items: center;
  gap: 11px;
}
header .header__navbar .header_nav_search {
  display: flex;
  align-items: center;
  gap: 11px;
}
header .header__navbar .header_nav_search .wrapper {
  position: relative;
  display: flex;
  transition: 3s ease-out;
}
header .header__navbar .header_nav_search .wrapper .catalog_button {
  padding: 8px;
  gap: 18px;
  outline: none;
  border: none;
  background: none;
  background: #70c05b;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  transition: 0.3s ease-out;
}
header .header__navbar .header_nav_search .wrapper .catalog_button a {
  margin-left: 18px;
  color: #fff;
}
header .header__navbar .header_nav_search .wrapper .catalog_button:hover {
  background: #32811e;
}
header .header__navbar .header_nav_search .search {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__navbar .header_nav_search .search input {
  cursor: text;
  caret-color: #3f9829;
  width: 360px;
  border: 1px solid #70c05b !important;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  overflow: visible;
  width: 100%;
}
header .header__navbar .header_nav_search .search .search-icon {
  position: absolute;
  right: 10px;
}
header .header__navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
header .header__navbar ul li {
  position: relative;
  display: list-item;
  text-align: center;
}
header .header__navbar ul li a {
  position: relative;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}
header .header__navbar ul li a img {
  transition: 0.3s ease-out;
}
header .header__navbar ul li a:hover {
  color: #d90606;
}
header .header__navbar ul li a:hover img {
  transform: scale(1.2);
  color: #eb2d2d;
}
header .header__navbar ul li .count-fav {
  margin: 0;
  padding: 5px;
  position: absolute;
  top: -10px;
  right: 4px;
  font-size: 12px;
  background: #eb2d2d;
  color: #fff;
  border-radius: 50%;
}
header .header__navbar .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
header .header__navbar .user h3 {
  color: #414141;
}

@media (max-width: 1190px) {
  .user h3 {
    display: none;
  }
}
@media (max-width: 1031px) {
  .wrapper .catalog_button a {
    display: none;
  }
}
@media (max-width: 850px) {
  .header_logo {
    margin-right: 10px;
  }
  .header_logo .nth-child {
    display: none;
  }
  .user img {
    display: none;
  }
}
@media (max-width: 580px) {
  .header__navbar ul {
    display: none !important;
  }
}
@media (max-width: 420px) {
  .wrapper .catalog_button {
    display: none;
  }
  .search {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search input {
    display: flex;
    height: 40px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
  }
}
footer {
  background-image: url(https://e-commers-severyanochka-demo.netlify.app/assets/images/Home/home-card-images/footer-bg.png);
}
footer .footer__wrapper {
  padding-top: 24px;
  padding-bottom: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer__wrapper .footer__aside {
  display: flex;
}
footer .footer__wrapper .footer__aside ul {
  display: flex;
  gap: 30px;
}
footer .footer__wrapper .footer__aside ul li {
  color: #414141;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
footer .footer__wrapper .footer__aside ul li:hover {
  color: red;
}
footer .footer__wrapper .footer__bside {
  display: flex;
  gap: 29px;
}
footer .footer__wrapper .footer__bside .social a {
  margin-right: 16px;
}
footer .footer__wrapper .footer__bside .contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1140px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  .footer__wrapper .footer__aside {
    display: flex;
  }
  .footer__wrapper .footer__aside ul {
    flex-direction: column;
  }
  .footer__wrapper .footer__bside {
    gap: 14px;
  }
  .footer__wrapper .footer__bside .contact h4 {
    font-size: 16px;
    max-width: 120px;
  }
}
.footer_navbar {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  background-color: #fff;
}
.footer_navbar .footer_navbar_fixed .footer_nav_list {
  padding: 0px !important;
  display: flex;
  gap: 16px;
}
.footer_navbar .footer_navbar_fixed .footer_nav_list li a {
  padding-top: 16px;
  color: #414141 !important;
}
.footer_navbar .footer_navbar_fixed .footer_nav_list li .count {
  position: absolute;
  top: -10px;
  right: 1px;
  font-size: 12px;
  background: #eb2d2d;
  color: #fff;
  border-radius: 50%;
}

@media (max-width: 425px) {
  .footer_navbar {
    display: block;
  }
}
.tovar {
  background-color: #fbf8ec;
}
.tovar .links {
  padding-top: 127px;
  display: flex;
  gap: 30px;
  transition: 0.3s;
}
.tovar .links a {
  color: #8f8f8f;
  transition: 0.3s;
}
.tovar .links a:hover {
  transform: scale(1.2);
  color: #48b648;
}
.tovar .links:hover {
  color: #48b648;
  transform: translateX(20px);
}
.tovar h2 {
  margin: 27px 0px 16px;
  color: #414141;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.tovar .tovar_rating_wrap {
  margin-bottom: 24px;
  display: flex;
  gap: 24px;
}
.tovar .tovar__wrapper {
  display: flex;
  gap: 40px;
}
.tovar .tovar__wrapper .tovar__middle {
  margin-bottom: 120px;
  position: relative;
}
.tovar .tovar__wrapper .tovar__middle span {
  padding: 8px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #f63;
  color: #fff;
  border-radius: 4px;
}
.tovar .tovar__wrapper .tovar__bside .tovar_top {
  margin-bottom: 19px;
  display: flex;
  gap: 200px;
}
.tovar .tovar__wrapper .tovar__bside .tovar_top p {
  color: #606060;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.tovar .tovar__wrapper .tovar__bside button {
  margin: 16px 0px 24px;
  padding: 16px 30px;
  background-color: #f63;
  border: 0px;
  border-radius: 4px;
  color: #fff;
}
.tovar .tovar__wrapper .tovar__bside button div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.tovar .tovar__wrapper .tovar__bside button div p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.tovar .tovar__wrapper .tovar__bside button:hover {
  background-color: rgb(234, 87, 38);
}
.tovar .tovar__wrapper .tovar__bside .tovar_btn {
  padding: 8px 20px;
  display: flex;
  gap: 70px;
  background-color: #f3f2f1;
}
.tovar .tovar__wrapper .tovar__bside .tovar_btn P {
  margin-bottom: 20px;
  color: #414141;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.tovar .tovar__wrapper .tovar__bside .tovar_btn h3 {
  margin-bottom: 20px;
  color: #414141;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.products {
  background-color: #fbf8ec;
}
.products .discount {
  background-color: #fbf8ec;
}
.products .discount .discount__title {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .discount .discount__title h2 {
  padding-bottom: 40px;
  color: #414141;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.products .discount .discount__title a {
  padding-bottom: 40px;
  color: #606060;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: 0.5s;
}
.products .discount .discount__title a:hover {
  color: #48b648;
  transform: translateX(20px);
}
.products .discount .discount__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.products .discount .discount__wrapper .dicount__card {
  margin: 30px auto;
  padding-top: 16px;
  position: relative;
  max-width: 272px;
  background-color: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.products .discount .discount__wrapper .dicount__card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}
.products .discount .discount__wrapper .dicount__card img {
  width: 100%;
}
.products .discount .discount__wrapper .dicount__card .container__heart {
  display: none;
  position: absolute;
  top: 10px;
  right: -40px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: 100ms;
  background: rgba(243, 242, 241, 0.8470588235);
  transition: 0.3s ease-out;
  border-radius: 4px;
  padding: 5px;
}
.products .discount .discount__wrapper .dicount__card .container__heart input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.products .discount .discount__wrapper .dicount__card .container__heart .checkMark {
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}
.products .discount .discount__wrapper .dicount__card .discount__percent {
  padding: 4px 8px;
  position: absolute;
  top: 39%;
  left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  background: #f63;
  border-radius: 4px;
}
.products .discount .discount__wrapper .dicount__card .card_text {
  padding: 8px;
}
.products .discount .discount__wrapper .dicount__card .card_text .card_price {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.products .discount .discount__wrapper .dicount__card .card_text .card_price p {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #414141;
}
.products .discount .discount__wrapper .dicount__card .card_text .card_price span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
}
.products .discount .discount__wrapper .dicount__card .card_text .card_info {
  display: flex;
  justify-content: space-between;
}
.products .discount .discount__wrapper .dicount__card .card_text .card_info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #bfbfbf;
}
.products .discount .discount__wrapper .dicount__card .card_text a {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.products .discount .discount__wrapper .dicount__card .card_text .card_rating {
  display: flex;
  margin-top: 8px;
}
.products .discount .discount__wrapper .dicount__card .card_text .main-btn {
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding: 12px 35px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #70c05b;
  max-width: 100%;
}
.products .discount .discount__wrapper .dicount__card .card_text .main-btn:hover {
  background-color: #f63;
  color: white;
  border: 1px solid #f63;
}
.products .dicount__card:hover .container__heart {
  display: block;
  position: absolute;
  top: 10px;
  right: 40px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  transition: 100ms;
  background: rgba(243, 242, 241, 0.8470588235);
  border-radius: 4px;
  padding: 5px;
}

.discount {
  background-color: #fbf8ec;
}
.discount .discount__title {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discount .discount__title h2 {
  padding-bottom: 40px;
  color: #414141;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.discount .discount__title a {
  padding-bottom: 40px;
  color: #606060;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: 0.5s;
}
.discount .discount__title a:hover {
  color: #48b648;
  transform: translateX(20px);
}
.discount .discount__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.discount .discount__wrapper .dicount__card {
  margin: 30px auto;
  padding-top: 16px;
  position: relative;
  max-width: 272px;
  background-color: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.discount .discount__wrapper .dicount__card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}
.discount .discount__wrapper .dicount__card img {
  width: 100%;
}
.discount .discount__wrapper .dicount__card .container__heart {
  display: none;
  position: absolute;
  top: 10px;
  right: -40px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: 100ms;
  background: rgba(243, 242, 241, 0.8470588235);
  transition: 0.3s ease-out;
  border-radius: 4px;
  padding: 5px;
}
.discount .discount__wrapper .dicount__card .container__heart input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.discount .discount__wrapper .dicount__card .container__heart .checkMark {
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}
.discount .discount__wrapper .dicount__card .discount__percent {
  padding: 4px 8px;
  position: absolute;
  top: 39%;
  left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  background: #f63;
  border-radius: 4px;
}
.discount .discount__wrapper .dicount__card .card_text {
  padding: 8px;
}
.discount .discount__wrapper .dicount__card .card_text .card_price {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.discount .discount__wrapper .dicount__card .card_text .card_price p {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #414141;
}
.discount .discount__wrapper .dicount__card .card_text .card_price span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
}
.discount .discount__wrapper .dicount__card .card_text .card_info {
  display: flex;
  justify-content: space-between;
}
.discount .discount__wrapper .dicount__card .card_text .card_info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #bfbfbf;
}
.discount .discount__wrapper .dicount__card .card_text a {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.discount .discount__wrapper .dicount__card .card_text .card_rating {
  display: flex;
  margin-top: 8px;
}
.discount .discount__wrapper .dicount__card .card_text .main-btn {
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding: 12px 35px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #70c05b;
  max-width: 100%;
}
.discount .discount__wrapper .dicount__card .card_text .main-btn:hover {
  background-color: #f63;
  color: white;
  border: 1px solid #f63;
}

.dicount__card:hover .container__heart {
  display: block;
  position: absolute;
  top: 10px;
  right: 40px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  transition: 100ms;
  background: rgba(243, 242, 241, 0.8470588235);
  border-radius: 4px;
  padding: 5px;
}/*# sourceMappingURL=tovar.css.map */